html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

$primary-color: #F03000;
$font-base: 'Montserrat', sans-serif;
$font-special: 'Open Sans', sans-serif;

.main {
    max-width: 480px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

